<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новости с {{sourceName}}</title>
</head>
<body>
    <h1>Новости с сервиса {{sourceName}}</h1>

    <h2>{{news.title}}</h2>

    {{#each news.data}}
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p style="font-size: smaller">{{this.date}}</p>
        <hr>
    {{/each}}
</body>
</html>